@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  scrollbar-gutter: stable;
}

body::-webkit-scrollbar {
  width: 7px;
}

/* Estilos para la pista de la barra de desplazamiento */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

/* Estilos para el pulgar (thumb) de la barra de desplazamiento */
body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

#aboutMe,
#skills,
#experience,
#projects,
#contact {
  scroll-margin-top: 5rem; /* Ajusta este valor según la altura de tu header */
}

p {
  line-height: 1.75rem;
}

@media (min-width: 768px) {
  .sticky-container {
    display: flex;
  }
  .sticky-sidebar {
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
  }
}

.circle {
  border-radius: 50%;
}

button.focus-visible\:ring-2:focus-visible {
  box-shadow: none !important;
}

.aura-image {
  position: relative;
  display: inline-block;
}

.aura-image::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%; /* Ajusta este valor para el tamaño del aura */
  height: 200%; /* Ajusta este valor para el tamaño del aura */
  background: radial-gradient(circle, rgba(255, 255, 0, 0.5), rgba(255, 255, 0, 0));
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; /* Asegúrate de que el aura esté detrás de la imagen */
  pointer-events: none;
}